@model IEnumerable<Web.Models.AeronaveTipoViewModel>

@{
    ViewData["Title"] = "Lista";
}

<h1>Tipos de Aeronave</h1>

<p>
    <a asp-action="Editar">Crear nuevo tipo de aeronave</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { codigo = item.Codigo }) |
                @Html.ActionLink("Editar", "Editar", new { codigo = item.Codigo }) |
            </td>
        </tr>
}
    </tbody>
</table>
