@model IEnumerable<Web.Models.PerfilViewModel>

@{
    ViewData["Title"] = "Lista";
}

<h1>Perfil Consulta</h1>

<p>
    <a asp-action="Editar">Crear Perfil</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new {  codigo=item.Codigo  }) |
                @Html.ActionLink("Detalle", "Buscar", new { codigo = item.Codigo  }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { codigo = item.Codigo })
            </td>
        </tr>
}
    </tbody>
</table>
