@model IEnumerable<Web.Models.UsuarioViewModel>

@{
    ViewData["Title"] = "Lista";
}

<h1>Usuario Consulta</h1>

<p>
    <a asp-action="Editar">Crear Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @*@Html.ActionLink("Desactivar", "Eliminar", new { Codigo = item.Codigo })*@
            </td>
        </tr>
}
    </tbody>
</table>
